/* 字体大小 */
$number: 12 14 16 18 20 22 24 26 28;

@each $i in $number {
    .font#{$i} {
        font-size: $i*1px;
    }
}

.is-href{
    cursor:pointer;
}

/* flex  */
.flex {
    display: flex;
    flex-wrap: nowrap;
    &-column,
    &1,
    &-wrap, 
    &-center,
    &-around,
    &-between{
        @extend .flex;
    }
    &-column{
        flex-direction: column;
    }
    &1 {
        flex: 1;
    }
    &-wrap {
        flex-wrap: wrap;
    }
    &-center {
        justify-content: center;
        align-items: center;
    }
    &-around {
        justify-content: space-around;
    }
    &-between {
        justify-content: space-between;
    }
}
.justify-center {
    @extend .flex;
    justify-content: center;
}
.align-center {
    @extend .flex;
    align-items: center;
}
.shadow{
    box-shadow: 0 3px 5px rgba(0, 0, 0, .05), 0 1px 5px rgba(0, 0, 0, 0.05);
}